// Colors
$primary-color: #2C3E50;
$secondary-color: #3498db;
$hot-temp-color: #e74c3c;
$cold-temp-color: #3498db;
$text-color: #2C3E50;
$text-light: #666;
$background-light: rgba(255, 255, 255, 0.9);
$accent-color: #ffd700;

// Gradients
$gradient-start: #87CEEB;  // Açık mavi
$gradient-end: #B0E0E6;    // Pudra mavisi

// Breakpoints
$mobile: 768px; 